---
title: FireHOL Configuration by Goal
submenu: documentation
---

<h1>FireHOL Configuration by Goal</h1>

<p>This table shows how the goals you need to achieve can be easily
translated into FireHOL rules:
</p>

<table style="width: 150%;">
  <tbody>
    <tr>
      <th>Thoughts...</th>
      <th>In FireHOL</th>
    </tr>

    <tr class="odd">
      <td>I have a Linux host with two network interfaces.
        <ul>
          <li>
            The first is <code class="interface">eth0</code> that connects
            to my <strong>LAN</strong>
          </li>

          <li>
            The other is a <code class="interface">PPP</code> device that
            connects to the <strong>internet</strong>
          </li>
        </ul>
      </td>
      <td><%= include_example('overview-thoughts-01') %></td>
    </tr>

    <tr class="even">
      <td>To the <strong>internet</strong> my Linux provides:
        <ul>
          <li>a MAIL server</li>
          <li>a WEB server</li>
          <li>a FTP server</li>
          <li>a SSH server, but only for my office computer</li>
        </ul>
      </td>
      <td><%= include_example('overview-thoughts-02') %></td>
    </tr>

    <tr class="odd">
      <td>My Linux is also a workstation, I want to run any client I wish.
      </td>
      <td><%= include_example('overview-thoughts-03') %></td>
    </tr>

    <tr class="even">
      <td>My <strong>LAN</strong> is trusted.
          <br/>
          If a server is running on my Linux I want my LAN PCs to use it.
      </td>
      <td><%= include_example('overview-thoughts-04') %></td>
    </tr>

    <tr class="odd">
      <td>I would like my <strong>LAN</strong> PCs to use
          this Linux as a gateway for connecting, as clients, to the
          <strong>internet</strong> for all the services
          they wish.
      </td>
      <td><%= include_example('overview-thoughts-05') %></td>
    </tr>

    <tr class="even">
      <td>My LAN PCs have private IPs, unroutable to the Internet. 
          <br/>
          I need to masquerade somehow their IP addresses for internet access. 
      </td>
      <td><%= include_example('overview-thoughts-06') %></td>
    </tr>
  </tbody>
</table>

<p>
<strong>This is it!</strong> The firewall is ready.
Only the <strong>request</strong> needs to be specified,
FireHOL handles the replies automatically and produces the iptables
statements to exactly match what is allowed
<strong>in both directions</strong> and nothing more.
</p>

<p>
If for example we remove the <em>client all accept</em>
from the <strong>internet</strong> interface, our Linux
will not be able to do anything with its PPP device except to send
replies matching the <strong>server</strong> statements
within this interface; no pings, no DNS, no web browsing, no nothing!
</p>

<p>
The complete configuration file (a little bit enriched) of the above
example could be:
</p>

<%= include_example('overview-02') %>

<p>FireHOL is completely <strong>dynamic</strong>, since
with its language you can describe any firewall configuration you wish
using simple commands.</p>
