#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
end

compile '/stylesheet/' do
  # don’t filter or layout
end

compile '/semantic/' do
  # don’t filter or layout
end

compile '/jquery-1/' do
  # don’t filter or layout
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    # filter :debug_filter
    if @item[:extension] and @item[:extension].end_with? "md"
      filter :pandoc
      # filter :debug_filter
    end
    layout 'default'
    filter :syntax_highlight
    filter :manual_url
  end
end

route '/stylesheet/' do
  '/style.css'
end

route '/semantic/' do
  '/semantic.css'
end

route '/jquery-1/' do
  '/lib/jquery.js'
end

route '/faqs/*' do
  # These items are pulled directly into their index file
end

route '/newsitems/*' do
  # These items are pulled directly into the appropriate page
end

route '/testimonies/*' do
  # These items are pulled directly into the appropriate page
end

route '/examples/*' do
  # These items are pulled directly into wherever they are needed
end

route '/keyword/*' do
  # These are not items for formatting; they are used for syntax highlighting
  # and translation of /keyword/firehol/interface type URIs
end

route '*' do
  if item.binary? or item.identifier.match(/^\/[0-9]+\/$/)
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
