---
title: Linux iptables packet filtering firewall builder for humans...
submenu: none
---

<% entry = news_items.shift %>
<div class="latest_news">
  <h4>Latest News</h4>
  <p><%= news_date(entry) %> -
        <span class="news_title"><%= news_title(entry) %></span>
      <a href="/news/">[more ...]</a>
  </p>
</div>

<h2>What is FireHOL?</h2>

<p>FireHOL is... firewalling made easy:</p>

<%= fhmanual_example('overview-01') %>

<p>FireHOL is an iptables firewall generator producing stateful
iptables packet filtering firewalls, on Linux hosts and routers
with any number of network interfaces, any number of routes, any
number of services served, any number of complexity between
variations of the services (including positive and negative
expressions).</p>

<p>
FireHOL is a <span class="important">language to express firewalling
rules</span>, not just a script that produces some kind of a firewall.
</p>

<p>The goals of FireHOL are:</p>

<ul>

  <li>Make firewalling an easy, straight forward task for everyone,
      independently of the security skills he/she has.
      <br/>
      FireHOL configuration files are very easy to type and read.
      To understand a complex firewall you will need just a few seconds.
      <br/>
      Take a look bellow for an example configuration.
  </li>

  <li>Be as secure as possible by allowing explicitly only the wanted
      traffic to flow.
      <br/>
      FireHOL produces <span class="important">stateful</span> rules for
      any service or protocol,
      <span class="important">in both directions</span> of the firewall.
  </li>

  <li>Be a resource of knowledge around services and their peculiarities,
      as far as firewalling is concerned.
      <br/>
      Check the <a href="/services">services</a> list.
  </li>

  <li>Be open enough for any firewalling need. Although FireHOL is
      pre-configured for a large number of services, you can configure
      any service you like and FireHOL will turn it into a
      <%= fh_manref('cmd-client','client') %>,
      <%= fh_manref('cmd-server','server') %>, or a
      <%= fh_manref('cmd-server','router') %>.
  </li>

  <li>Be flexible enough to be used by end users and guru
      administrators requiring extremely complex firewalls.
      <br/>
      FireHOL configuration files are BASH scripts; you can write
      in them anything BASH accepts, including variables, pipes, loops,
      conditions, calls to external programs, run other BASH scripts
      with FireHOL directives in them, etc.
  </li>

  <li>Be simple to install on any modern Linux system; only one file
      is required, no compilations involved.
  </li>
</ul>

<h3>Is it secure?</h3>

<p>
FireHOL is <span class="important">secure</span> because it has been
designed with the right firewalling concept:
<span class="important">deny everything, then allow only what is needed</span>.
</p>

<p>
Also, FireHOL produces <span class="important">stateful</span> iptables
packet filtering firewalls (and possibly, the only generic tool today that
does that for all services in both directions of the firewall).
</p>

<p>
Stateful means that traffic allowed to pass is part of a valid
connection that has been initiated the right way. Stateful also
means that you can have control based on who initiated the traffic.
For example: you can choose to be able to ping anyone on the internet,
but no one to be able to ping you. If for example you don't need to
run a server on your Linux host, you can easily achieve a situation where
you are able to do anything to anyone, but as far as the rest of world
is concerned, <span class="important">you do not exist</span>!
</p>

<h3>Learn another language?</h3>

<p>FireHOL has been designed to allow you configure your firewall the
same way you think of it. Its language is extremely simple.
Basically you have to learn four commands:</p>

<ul>
  <li><%= fh_manref('def-interface','interface') %>, to setup a
      firewall on a network interface
  </li>

  <li><%= fh_manref('def-router','router') %>, to setup a 
      firewall on traffic routed from one network interface to another
  </li>

  <li><%= fh_manref('cmd-server','server') %>, to setup a
      listening service within an interface or router.
      The same command can be used as
      <%= fh_manref('cmd-server','route') %> within routers
  </li>

  <li><%= fh_manref('cmd-client','client') %>, to setup a service
      client within an interface or router
  </li>
</ul>

<p>
Commands <%= fh_manref('cmd-client','client') %> and
<%= fh_manref('cmd-server','server') %> have exactly the same syntax.
A FireHOL <%= fh_manref('def-interface','interface') %> has two mandatory
arguments and a <%= fh_manref('def-router','router') %> has only one
(and this is the same with one of the two
<%= fh_manref('def-interface','interface') %> requires).
All the <%= fh_manref('rule-params','optional&nbsp;parameters') %> are the
same to all of them. This sounds like just one command is to be learned...
</p>

<p>
Of course there are a
<%= fh_manref('firehol.conf-commands','few&nbsp;more&nbsp;commands') %>
defined, but all of them exist just to give you finer control on these four.
</p>

<p>If you don't believe it is simple, consider this example:</p>

<table style="width: 150%;">
  <tbody>
    <tr>
      <th>Thoughts...</th>
      <th>In FireHOL</th>
    </tr>

    <tr class="odd">
      <td>I have a Linux host with two network interfaces.
        <ul>
          <li>
            The first is <span class="interface">eth0</span> that connects
            to my <span class="important">LAN</span>
          </li>

          <li>
            The other is a <span class="interface">PPP</span> device that
            connects to the <span class="important">internet</span>
          </li>
        </ul>
      </td>
      <td><%= fhmanual_example('overview-thoughts-01') %></td>
    </tr>

    <tr class="even">
      <td>To the <span class="important">internet</span> my Linux provides:
        <ul>
          <li>a MAIL server</li>
          <li>a WEB server</li>
          <li>a FTP server</li>
          <li>a SSH server, but only for my office computer</li>
        </ul>
      </td>
      <td><%= fhmanual_example('overview-thoughts-02') %></td>
    </tr>

    <tr class="odd">
      <td>My Linux is also a workstation, I want to run any client I wish.
      </td>
      <td><%= fhmanual_example('overview-thoughts-03') %></td>
    </tr>

    <tr class="even">
      <td>My <span class="important">LAN</span> is trusted.
          <br/>
          If a server is running on my Linux I want my LAN PCs to use it.
      </td>
      <td><%= fhmanual_example('overview-thoughts-04') %></td>
    </tr>

    <tr class="odd">
      <td>I would like my <span class="important">LAN</span> PCs to use
          this Linux as a gateway for connecting, as clients, to the
          <span class="important">internet</span> for all the services
          they wish.
      </td>
      <td><%= fhmanual_example('overview-thoughts-05') %></td>
    </tr>

    <tr class="even">
      <td>My LAN PCs have private IPs, unroutable to the Internet. 
          <br/>
          I need to masquerade somehow their IP addresses for internet access. 
      </td>
      <td><%= fhmanual_example('overview-thoughts-06') %></td>
    </tr>
  </tbody>
</table>

<p>
<span class="important">This is it!</span> The firewall is ready.
I hope you have noticed that all the rules given match just one direction
of the traffic: <span class="important">the request</span>.
They don't say anything about replies (see for example the
<%= fh_manref('rule-params','src') %>,
<%= fh_manref('rule-params','inface') %> or
<%= fh_manref('rule-params','outface') %> parameters).
This is because FireHOL handles the replies automatically. You don't
have to do anything about them: If a request is allowed, then the
corresponding reply is also allowed. This also means that FireHOL
produces the iptables statements to exactly match what is allowed
<span class="important">in both directions</span> and nothing more.
If for example we remove the <span class="option">client all accept</span>
from the <span class="important">internet</span> interface, our Linux
will not be able to do anything with its PPP device except to send
replies matching the <span class="important">server</span> statements
within this interface; no pings, no DNS, no web browsing, no nothing!
</p>

<p>
The complete configuration file (a little bit enriched) of the above
example could be:
</p>

<%= fhmanual_example('overview-02') %>

<p>FireHOL is completely <span class="important">dynamic</span>, since
with its <a href="/language">language</a> you can describe any firewall
configuration you wish using simple <a href="firehol.conf">commands</a>.</p>

<h3>Why?</h3>

<p>As an IT executive, responsible for many dozens of Linux systems,
I needed a firewalling solution that would allow me and my team to
have a clear and simple view of what is happening on each server,
as far as firewalling is concerned. I also needed a solution that
will allow my team members to produce high quality and homogeneous
firewalls independently of their security skills and knowledge.
After searching for such a tool, I quickly concluded that no tool is
flexible, open, easy, and simple enough for what I needed.</p>

<p>I decided to write FireHOL in a way that will allow me, or anyone else,
to view, verify and audit the firewall of any Linux server or Linux router
<span class="important">in seconds</span>. FireHOL's configuration is
extremely simple... you don't have to be an expert to design a complicated
but secure firewall.</p>

<h3>What features does it have?</h3>

<p>FireHOL handles firewalls protecting one host on all its interfaces
and any combination of stateful firewalls routing traffic from one
interface to another. There are no limitations on the number of
interfaces or on the number of routing routes (except the ones
iptables has, if any).</p>

<p>FireHOL, still lacks a few features: QoS for example is not supported
directly. You are welcome to extend FireHOL and send me your patches
to integrate within FireHOL. In any case however, you can embed normal
iptables commands in a FireHOL configuration to do whatever
iptables supports.</p>

<p>Since FireHOL produces stateful commands, for every supported
service it needs to know the flow of requests and replies. Today
FireHOL supports the following services:</p>

<ul>
  <li>Many single socket protocols, such as HTTP, NNTP, SMTP, POP3, 
      IMAP4, RADIUS, SSH, LDAP, MySQL, Telnet, NTP, DNS, etc.
      There are a few dozens of such services defined in FireHOL.
      Check <a href="/services">this list</a>. Even if something is
      missing, you can <%= fh_manref('adding-services','define&nbsp;it') %>.
  </li>

  <li>Many complex protocols, such as FTP, NFS, SAMBA, PPTP, etc. 
      If you need some complex protocol that is not present, you will have 
      to program it (in simple BASH scripting - there are many commented 
      examples on how this is done). Again, you will just create one BASH 
      function with the rules of the protocol, and FireHOL will turn it to
      a client, a server or a router.
  </li>
</ul>
