---
title: Linux firewalling and traffic shaping for humans
submenu: none
---

<% entry = news_items.shift %>
<div class="latest_news">
  <h4>Latest News</h4>
  <p><%= news_date(entry) %> -
        <span class="news_title"><%= news_title(entry) %></span>
      <a href="/news/">[more ...]</a>
  </p>
</div>

<h2>What are FireHOL and FireQOS?</h2>

<p>FireHOL is a language (and a program to run it) which builds
   complex stateful firewalls from easily understood human-readable
   configurations. <a href="/overview-firehol/">[Learn more...]</a></p>

<p>FireQOS is a program which sets up traffic shaping from an
   easy-to-understand yet flexible configuration file.
   <a href="/overview-fireqos/">[Learn more...]</a></p>

<p>The two programs share a <a href="#philosophy">philosophy</a> and are
shipped together but work independently so you can choose to use one or
both.</p>

<h2>Why choose FireHOL and FireQOS?</h2>
<p>etc.</p>

<h2 id="#philosophy">Philosophy</h2>

<ul>

  <li>Make firewalling and traffic shaping an easy, straightforward task
      for everyone from end users to experienced administrators.
  </li>

  <li>Be as secure as possible by allowing explicitly only the wanted
      traffic to flow.
  </li>

  <li>Be a resource of knowledge around services and their peculiarities.
  </li>

  <li>Be flexible enough for any firewalling or traffic-shaping need.
  </li>

  <li>Be simple to install on any modern Linux system
  </li>
</ul>
