---
title: Services
submenu: documentation
---
<h1>FireHOL Service Index</h1>

<p>Below is the list of FireHOL supported services. You can create new
services and overwrite all of the existing ones
(including those marked as complex).
See the <a href="/guides/adding-services">Adding Services Guide</a>.
</p>

<table class="services-table">
  <tr>
    <th>A</th><th>B</th><th>C</th><th>D</th>
  </tr>
  <tr>
    <td>
      <%= services_starting('a').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('a').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('b').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('b').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('c').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('c').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('d').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('d').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>E</th><th>F</th><th>G</th><th>H</th>
  </tr>
  <tr style="height: 150%;">
    <td>
      <%= services_starting('e').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('e').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('f').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('f').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('g').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('g').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('h').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('h').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>I</th><th>J</th><th>K</th><th>L</th>
  </tr>
  <tr>
    <td>
      <%= services_starting('i').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('i').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('j').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('j').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('k').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('k').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('l').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('l').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>M</th><th>N</th><th>O</th><th>P</th>
  </tr>
  <tr>
    <td>
      <%= services_starting('m').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('m').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('n').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('n').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('o').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('o').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('p').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('p').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>Q</th><th>R</th><th>S</th><th>T</th>
  </tr>
  <tr>
    <td>
      <%= services_starting('q').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('q').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('r').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('r').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('s').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('s').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('t').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('t').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>U</th><th>V</th><th>W</th><th>X</th>
  </tr>
  <tr>
    <td>
      <%= services_starting('u').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('u').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('v').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('v').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('w').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('w').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('x').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('x').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>Y</th><th>Z</th>
  </tr>
  <tr>
    <td>
      <%= services_starting('y').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('y').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= services_starting('z').collect { |entry|
                                   html_to(entry.attributes[:service_name],
                                           entry.identifier)
                                   }.join(', ') %>
      <%= if services_starting('z').size==0;then "None" else "" end %>
    </td>
  </tr>
</table>

<p>Please report problems related to port names usage so they can
be fixed with appropriate numbers to eliminate any issues.</p>
