---
title: Services
submenu: documentation
---
<h2>FireHOL Service Index</h2>

<p>Below is the list of FireHOL supported services. You can create new
services and overwrite all of the existing ones
(including those marked as complex) with the procedures
defined in <%= fh_manref('adding-services','Adding&nbsp;Services') %>.
This <a href="http://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers">
Wikipedia list of ports</a> and this
<a href="http://www.graffiti.com/services">port names and numbers list</a>
may be useful.
</p>

<table class="services-table">
  <tr>
    <th>A</th><th>B</th><th>C</th><th>D</th>
  </tr>
  <tr>
    <td>
      <%= fhmanual_services_by_alpha('a').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('a').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('b').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('b').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('c').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('c').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('d').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('d').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>E</th><th>F</th><th>G</th><th>H</th>
  </tr>
  <tr style="height: 150%;">
    <td>
      <%= fhmanual_services_by_alpha('e').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('e').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('f').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('f').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('g').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('g').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('h').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('h').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>I</th><th>J</th><th>K</th><th>L</th>
  </tr>
  <tr>
    <td>
      <%= fhmanual_services_by_alpha('i').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('i').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('j').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('j').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('k').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('k').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('l').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('l').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>M</th><th>N</th><th>O</th><th>P</th>
  </tr>
  <tr>
    <td>
      <%= fhmanual_services_by_alpha('m').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('m').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('n').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('n').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('o').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('o').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('p').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('p').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>Q</th><th>R</th><th>S</th><th>T</th>
  </tr>
  <tr>
    <td>
      <%= fhmanual_services_by_alpha('q').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('q').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('r').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('r').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('s').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('s').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('t').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('t').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>U</th><th>V</th><th>W</th><th>X</th>
  </tr>
  <tr>
    <td>
      <%= fhmanual_services_by_alpha('u').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('u').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('v').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('v').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('w').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('w').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('x').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('x').size==0;then "None" else "" end %>
    </td>
  </tr>

  <tr>
    <th>Y</th><th>Z</th>
  </tr>
  <tr>
    <td>
      <%= fhmanual_services_by_alpha('y').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('y').size==0;then "None" else "" end %>
    </td>
    <td>
      <%= fhmanual_services_by_alpha('z').collect { |entry|
                                   fh_manref('service-'+entry,entry)
                                   }.join(', ') %>
      <%= if fhmanual_services_by_alpha('z').size==0;then "None" else "" end %>
    </td>
  </tr>
</table>

<p>Please report problems related to port names usage so they can
be fixed with appropriate numbers to eliminate any issues.</p>
