* {
  margin: 0;
  padding: 0;

  font-family: Trebuchet ms, Tahoma, Verdana, Arial, Helvetica;
}

#header {
  float: left;
  font-size: 120%;
  margin: 10px;
  vertical-align: middle;
}

#header .title {
  font-size: 200%;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 60px;
  vertical-align: middle;
  color: red;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  /*color: #000080; */
  color: #008;
}

a:hover {
  /* color: #202080; */
  color: #03f;
}

#main {
  clear: both;
  position: absolute;

  top: 80px;
  left: 280px;

  width: 550px;
}

#main.wide {
  width: 850px;
}

#main h1:first-child {
  font-size: 26px;
  font-weight: bold;

  line-height: 26px;
  margin-top: 0px;
}

#main h1 {
  font-size: 26px;
  font-weight: bold;

  line-height: 26px;
  margin-top: 20px;
}

#main h2 {
  font-size: 22px;
  font-weight: bold;

  line-height: 22px;
  margin-top: 20px;
}

#main h3 {
  font-size: 18px;
  font-weight: bold;

  line-height: 18px;
  margin-top: 20px;
}

#main p, #main hr, #main dt {
  margin-top: 20px;

  font-size: 15px;

  line-height: 20px;
}

#main dd {
  margin-left: 10px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;

  top: 80px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar h2 a {
  color: #007;
}
#sidebar h2 a:hover {
  color: #03f;
}

#sidebar ul {
  list-style-type: none;

  margin: 10px 0 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}

blockquote {
  margin-left: 10px;
}

blockquote code {
  margin-left: 0;
}

pre code {
  font-family: monospace;
  font-size: 12px;
  display: block;
  width: 110%;
  line-height: 120%;
  padding: 10px;
  border: 1px solid #bbb;
  background-color: #ddd;
  color: #000;
  overflow: auto;
  border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  margin-top: 20px;
  margin-left: 10px;
}

code {
  font-family: monospace;
  font-size: 12px;
}

td code {
  border-style: none;
  background-color: transparent;
}

code a:link,
code a:visited {
  color: #03f;
  font-family: monospace;
  font-size: 12px;
}

code a:hover {
  color: #09f;
  font-family: monospace;
  font-size: 12px;
}

.newcode, li.newcode {
  color: #f00;
  font-family: monospace;
  font-size: 12px;
}

.newcode a:link,
.newcode a:visited {
  color: #f30;
  font-family: monospace;
  font-size: 12px;
}

.newcode a:hover {
  color: #f90;
  font-family: monospace;
  font-size: 12px;
}

.li-header {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.list-with-header li :first-child {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.news-item {
  border-bottom: 2px solid #DDD;
}

#news h2 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

#news p {
  margin: 5px 0;
}

#testimonials p {
  margin: 5px 0;
}

.testimonial-from p {
  margin: 10px 2px;
}

div#latest-news {
  margin-bottom: 20px;
}

table {
  border: 0;
  width: 70%;
  font-size: 15px;
}

th {
  background-color: #000000;
  color: #FFFFFF;
  padding-left: 4px;
  padding-right: 4px;
}

tr.even {
  background-color: #E0E0E0;
}

.wide-table table {
  width: 150%;
}

table.services-table {
  width: 150%;
  table-layout: fixed;
}

table.services-table td {
  height: 130px;
  background-color: #E0E0E0;
}

a[href^=http] {
    background: url(/images/external.png) center right no-repeat;
    padding-right: 13px;
}

a[href^="http://www.foxyhosting"]  {
    background: none;
    padding-right: 0;
}

a[href^="http://lists.firehol"]  {
    background: none;
    padding-right: 0;
}
