---
title: Upgrading configuration
submenu: documentation
---
<h1>Upgrading your configuration</h1>

<p>
FireHOL maintains compatibility with older configurations by using a
configuration version number. When a significant change to configuration
occurs, the expected number is incremented.
</p>

<p>
If you have been directed to this page when running FireHOL, the version
number expected by FireHOL is higher than the one used in your configuration.
</p>

<p>
You should review your configuration to ensure it will still work as
you expect and then update the version number to the expected version.
</p>

<ul>
  <li><a href="#config-version-6">To 6 from 5 (changed at FireHOL 2.0.0-pre6)</a></li>
</ul>

<hr/>

<h2 id="config-version-6">To version 6 from version 5</h2>

<p>
The configuration version of FireHOL 2.0.0-pre6 and later has been updated
from 5 to 6. Review your configuration and then update your version line to:
</p>

<%= include_example('upgrade-6-01') %>

<p>
FireHOL v2.0.0-pre6 adds combined IPv6/IPv6 support. When upgrading from
an earlier version of FireHOL there are two main changes you need to allow
for: IPv4/IPv6 address specification and system differences that cannot
be hidden.
</p>

<p>
IPv4 and IPv6 addresses are different, and in FireHOL v2 you must specify
them explicitly. To ensure the rules are applied evenly, if you specify
one you must specify both, or mark the whole rule as IPv4 or IPv6 only.
</p>

<p>
Not every option for IPv4 exists in IPv6 e.g. NAT and masquerading are
not available until Linux 3.7 and may not be enabled on your system.
If you do not have support for a rule in IPv6 on your system, you will
need to mark it as IPv4 only.
</p>

<p>
To allow you to apply something to IPv4 or IPv6 only, anything in a
configuration can be labelled. For instance to mark something as IPv4
only, write it as:
</p>

<%= include_example('upgrade-6-02') %>

<p>
Some commands (interface, router, client, server, route, group) have been
given special names e.g. interface4/interface6 which are equivalent to
labelling them with ipv4 or ipv6.
</p>

<p>
We will show how to adapt this simple config in a few possible ways:
</p>

<%= include_example('upgrade-6-03') %>

<ul>
<li>
<h3>No IPv6 at all</h3>

<p>
 If you want to upgrade quickly and not deal with IPv6 at all,
   you can specify IPv4 interfaces and routers explicitly within
   FireHOL, so just rewrite to this:
</p>

<%= include_example('upgrade-6-04') %>

<p>
  The only behaviour change to your version 5 config is that your host
  will now drop IPv6 packets where before they were allowed unless you
  took steps to block them.
</p>
</li>


<li>
<h3>Rules with no IPv6 equivalent</h3>

<p>
 If you do not have any IPv6 addresses for particular rules, specify them
   as only applying to IPv4:
</p>

<%= include_example('upgrade-6-05') %>

<p>
 It is possible to also add rules which only apply to IPv6.
</p>
</li>

<li>
<h3>Rules which an IPv6 address can be added to</h3>

<p>
 If you do have an IPv6 address for a particular rule, specify it
   explicitly with src4/src6 and dst4/dst6 e.g.:
</p>

<%= include_example('upgrade-6-06') %>

<p>
  The FireHOL variables such as $UNROUTABLE_IPS will work automatically
  in both contexts, so you can still write:
</p>

<%= include_example('upgrade-6-07') %>

<p>
  If you want to combine this with your own IPs or ranges, you will need to
  be explicit, either with:
</p>

<%= include_example('upgrade-6-08') %>

<p>
  or the equivalent:
</p>

<%= include_example('upgrade-6-09') %>

<p>
  which is more explicit.
</p>
</li>

<li>
<h3>Specific IPv4/IPv6 services</h3>

<p>Some services only make sense as IPv4 or IPv6 and are automatically
   switched to that mode. They cannot be included in blocks of rules
   specified to the opposite mode.</p>

<p>IPv4 only:
   <%= html_to('dhcp','/keyword/service/dhcp') %> and
   <%= html_to('timestamp','/keyword/service/timestamp') %>.
</p>

<p>IPv6 only:
   <%= html_to('dhcpv6','/keyword/service/dhcpv6') %>,
   <%= html_to('ipv6error','/keyword/service/ipv6error') %>,
   <%= html_to('ipv6neigh','/keyword/service/ipv6neigh') %>,
   and <%= html_to('ipv6router','/keyword/service/ipv6router') %>.
</p>
</li>

<li>
<h3>Important ICMP differences</h3>

<p>
 Various ICMPv6 messages need to be explicitly allowed for correct
 operation of IPv6. Firstly, certain ICMPv6 error messages must be
 enabled.
</p>

<%= include_example('upgrade-6-10') %>

<p>
 Incoming and outgoing rules are different and are set up automatically.
 Do not use <span class="code">client ipv6error accept</span> except
 in a <%= html_to('router','/keyword/firehol/router') %> where the outface
 is the "inside" of your firewall.  See the
 <%= html_to('ipv6error','/keyword/service/ipv6error') %> documentation
 for more information.
</p>

<p>
 The remaining ICMPv6 messages should generally not be used in FireHOL
 router definitions, since the information they convey should be kept
 to the local network.
</p>

<p>
 To allow hosts to communicate with one another over IPv6,
 network neighbour solicitation/advertisement messages (which do in IPv6
 what ARP does in IPv4) must be enabled on interfaces.
</p>

<%= include_example('upgrade-6-10a') %>

<p>
 To allow network route auto-discovery,
 router solicitation/advertisement messages must be enabled
 on interfaces as a client.
</p>

<%= include_example('upgrade-6-11') %>

<p>
  You can accept these messages from multiple interfaces, for
  instance on "home" above, if there are multiple IPv6 routes available.
</p>

<p>
  If your machine will be routing IPv6, it will also need to be able
  to send router advertisment messages from the relevant interface(s).
</p>

<%= include_example('upgrade-6-12') %>

</li>
</ul>
