---
title: Upgrading configuration
submenu: downloads
---
<h1>Upgrading your configuration</h1>

<p>
If you have been directed to this page when running FireHOL, the version
number expected by FireHOL is different to the one specified in your
configuration.
</p>

<p>
You should review your configuration to ensure it will still work as
you expect and then update the version number to the expected version.
</p>

<ul>
  <li><a href="#config-version-6">To 6 from 5 (changed at FireHOL 2.0.0-pre6)</a></li>
</ul>

<hr/>

<h2 id="config-version-6">To version 6 from version 5</h2>

<p>
The configuration version of FireHOL 2.0.0-pre6 and later has been updated
from 5 to 6. Review your configuration and then update your version line to:
</p>

<%= fhmanual_example('upgrade-6-01') %>

<p>
FireHOL v2.0.0-pre6 adds combined IPv6/IPv6 support. When upgrading from
an earlier version of FireHOL there are two main changes you need to allow
for: IPv4/IPv6 address specification and system differences that cannot
be hidden.
</p>

<p>
IPv4 and IPv6 addresses are different, and in FireHOL v2 you must specify
them explicitly. To ensure the rules are applied evenly, if you specify
one you must specify both, or mark the whole rule as IPv4 or IPv6 only.
</p>

<p>
Not every option for IPv4 exists in IPv6 e.g. NAT and masquerading are
not available until Linux 3.7 and may not be enabled on your system.
If you do not have support for a rule in IPv6 on your system, you will
need to mark it as IPv4 only.
</p>

<p>
To allow you to apply something to IPv4 or IPv6 only, anything in a
configuration can be labelled. For instance to mark something as IPv4
only, write it as:
</p>

<%= fhmanual_example('upgrade-6-02') %>

<p>
Some commands (interface, router, client, server, route, group) have been
given special names e.g. interface4/interface6 which are equivalent to
labelling them with ipv4 or ipv6.
</p>

<p>
We will show how to adapt this simple config in a few possible ways:
</p>

<%= fhmanual_example('upgrade-6-03') %>

<ul>
<li>
<h3>No IPv6 at all</h3>

<p>
 If you want to upgrade quickly and not deal with IPv6 at all,
   you can specify IPv4 interfaces and routers explicitly within
   FireHOL, so just rewrite to this:
</p>

<%= fhmanual_example('upgrade-6-04') %>

<p>
  The only behaviour change to your version 5 config is that your host
  will now drop IPv6 packets where before they were allowed unless you
  took steps to block them.
</p>
</li>


<li>
<h3>Rules with no IPv6 equivalent</h3>

<p>
 If you do not have any IPv6 addresses for particular rules, specify them
   as only applying to IPv4:
</p>

<%= fhmanual_example('upgrade-6-05') %>

<p>
 It is possible to also add rules which only apply to IPv6.
</p>
</li>

<li>
<h3>Rules which an IPv6 address can be added to</h3>

<p>
 If you do have an IPv6 address for a particular rule, specify it
   explicitly with src4/src6 and dst4/dst6 e.g.:
</p>

<%= fhmanual_example('upgrade-6-06') %>

<p>
  The FireHOL variables such as $UNROUTABLE_IPS will work automatically
  in both contexts, so you can still write:
</p>

<%= fhmanual_example('upgrade-6-07') %>

<p>
  If you want to combine this with your own IPs or ranges, you will need to
  be explicit, either with:
</p>

<%= fhmanual_example('upgrade-6-08') %>

<p>
  or the equivalent:
</p>

<%= fhmanual_example('upgrade-6-09') %>

<p>
  which is more explicit.
</p>
</li>

<li>
<h3>Specific IPv4/IPv6 services</h3>

<p>Some services only make sense as IPv4 or IPv6 and are automatically
   switched to that mode. They cannot be included in blocks of rules
   specified to the opposite mode.</p>

<p>IPv4 only:
   <%= fh_manref('service-dhcp','dhcp') %> and
   <%= fh_manref('service-timestamp','timestamp') %>.
</p>

<p>IPv6 only:
   <%= fh_manref('service-dhcpv6','dhcpv6') %>,
   <%= fh_manref('service-ipv6error','ipv6error') %>,
   <%= fh_manref('service-ipv6neigh','ipv6neigh') %>,
   and <%= fh_manref('service-ipv6router','ipv6router') %>.
</p>
</li>

<li>
<h3>Important ICMP differences</h3>

<p>
 Various ICMPv6 messages need to be allowed on interfaces for correct
 operation of IPv6, including some ICMPv6 error messages and network
 neighbour solicitation/advertisement messages (which replace ARP in IPV6).
 They should generally not be used in routers.
</p>

<%= fhmanual_example('upgrade-6-10') %>

<p>
Do not use <span class="code">client ipv6error accept</span> in interfaces,
the server rule has already set up what you need.
</p>

<p>
 Router solicitation/advertisement messages must also be enabled
 to allow router auto-configuration.
</p>

<%= fhmanual_example('upgrade-6-11') %>

<p>
  If your machine will be routing IPv6, it will also need to be able
  to send Router Advertisment messages from the relevant interface.
</p>

<%= fhmanual_example('upgrade-6-12') %>

<p>
   When routing, you will need to allow
   <%= fh_manref('service-ipv6error','ipv6error') %> in routers.
   See its documentation for more information.
</p>
</li>
</ul>
