---
group: 0003-General
title: 0001-How did you come with this idea?
id: where-idea
kind: faq
---
<p>When you have to manage several dozens of Linux systems and you have
a team of engineers to do the job, then for the firewalling of all those
you have to find solutions so that:</p>

<ul>
  <li>
      <span class="li-header">Each member of your team can setup
                              firewalling in a consistent way.</span>
      In the past, I have seen all kinds of misconfigurations in iptables,
      even when I was building the rules. Iptables is not easy, it provides
      many alternatives for doing the job and each engineer knows or likes
      just a few of them.
  </li>
    
  <li>
      <span class="li-header">Each member of your team knows exactly how
                              each service operates, which ports it needs,
                              how to prevent various attacks, etc.</span>
      Again this is not easy stuff. Some techies are more experienced than
      others and many have very limited knowledge of the underlying stuff.
      To see the complication, if I tell you to setup a firewall for an FTP
      server supporting active and passive mode, how much time do you need
      to find the exact iptables rules and successfully configure the firewall?
  </li>
    
  <li>
      <span class="li-header">Each member of your team can examine and modify
                              the firewalling rules that another member build
                              some time ago.</span>
      This is a real nightmare. If I give you 200 iptables rules, how much
      time do you need to figure out what is happening and make a few changes?
  </li>
    
  <li>
      <span class="li-header">For Quality Assurance, ensure that there is
                              an easy way for auditing the firewall
                              quickly.</span>
      This is very important. Firewalling is the place that tells you
      exactly what is allowed and what is not.
  </li>
</ul>

<p>I believe that FireHOL solves all these problems in an ideal way.
Of course there are many wonderful iptables generators out there, many
of them with many more features than FireHOL, with GUIs, centralised
configuration of many systems, etc.  But consider the following:</p>

<ul>
  <li>
     <span class="li-header">FireHOL abstracts the service definitions
                             from the firewall rules.</span>
    In FireHOL you say "I run a FTP server here" and you don't care what
    FTP means for iptables. FireHOL takes care of this detail, so the
    engineers can focus on what they already know: The machine runs an
    FTP server.
  </li>
    
  <li>
     <span class="li-header">FireHOL minimises the configuration
                             directives.</span>
     Do you know how many iptables statements is this:
     <pre class="programlisting">route "smtp http ftp" accept src not "a.client b.client c.client" dst "a.server b.server c.server"</pre>
     It is <span class="important">92</span> iptables statements and it
     would be more than 1000 if in the clients list there was the
     <%= fh_manref('variables-available','UNROUTABLE_IPS') %> variable.
  </li>
    
  <li>
     <span class="li-header">The FireHOL configuration file is the best
                             place to look for what a server does.</span>
     This is actually the first thing I use to audit the configuration of
     my servers.  I just take a look at the firewall configuration.
     Even if something more is running, I am sure that it cannot be
     accessed from the outside world.
     <br/>
     Also, this is why I like the
     <%= fh_manref('cmd-client','client') %>
     statement so much. Personally, I expect all production systems
     to be configured with client statements that specifically allow only
     client requests that are really needed. Although it is pretty
     helpful for workstations, I consider
     <pre class="programlisting">client all accept</pre>
     as a security threat for production servers.
  </li>
</ul>

<p>
For all the above, I consider FireHOL as the most
<span class="important">functional</span> way for working with iptables
firewalls.
</p>
