<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="<%= item[:description] ||
      'FireHOL and FireQOS offer simple and powerful configuration
       for all Linux firewall and traffic shaping requirements' %>"/>
    <meta name="keywords" content="<%= item[:keywords] ||
      'firewall, stateful, secure, NAT, masquerade, DMZ,
       traffic control, QOS, quality of service,
       easy, intuitive, simple, powerful, complete, wizard, language,
       free, gpl, open source, linux, ipv4, ipv6' %>"/>
    <meta name="author" content="Phil Whineray, Costa Tsaousis"/>
    <meta name="msapplication-config" content="none"/>
    <title>FireHOL - <%= @item[:title] %></title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/semantic.css"/>
    <script src="/lib/jquery.js"/></script>
  </head>
  <body>
    <div id="header">
       <p>
         <span class="title">FireHOL</span>
          FireHOL and FireQOS - simple and powerful firewall and traffic
          shaping languages for Linux
       </p>
    </div>
    <div id="main" class="<%= @item[:main_class] ? @item[:main_class] : "regular" %>">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2><a href="/">Home</a></h2>
      <ul>
      </ul>
      <ul>
        <li>
          <h2><a href="/documentation/">Documentation</a> <%= submenu_ind("documentation", @item[:submenu]) %></h2>
          <ul class="<%= submenu_class("documentation", @item[:submenu]) %>" >
            <li><a href="/quickstart/">Quick Start</a></li>
            <li><a href="/tutorial/">Tutorials</a></li>
            <li><a href="/manual/">Manual</a></li>
            <li><a href="/upgrade">Configuration Upgrades</a></li>
            <li><a target="_blank"
          href="https://github.com/ktsaou/firehol/wiki">Wiki</a></li>
            <li><a href="/services/">FireHOL Services List</a></li>
            <li><a href="/faq/">Frequently Asked Questions</a></li>
          </ul>
        </li>
        <li>
          <h2><a href="/support/">Community</a> <%= submenu_ind("support", @item[:submenu]) %></h2>
          <ul class="<%= submenu_class("support", @item[:submenu]) %>" >
            <li><a href="/getting-help/">Getting Help</a></li>
            <li><a href="/getting-involved/">Getting Involved</a></li>
            <li><a target="_blank"
         href="https://github.com/ktsaou/firehol/issues">Issue Tracker</a></li>
            <li><a href="/email/">Email Authors</a></li>
            <li><a href="/resources/">External Resources</a></li>
            <li><a target="_blank"
         href="http://freecode.com/projects/firehol">Freecode Project</a></li>
            <li><a target="_blank"
         href="http://www.ohloh.net/p/firehol">Ohloh Project</a></li>
          </ul>
        </li>
        <li>
          <h2><a href="/downloads/">Download</a> <%= submenu_ind("downloads", @item[:submenu]) %></h2>
          <ul class="<%= submenu_class("downloads", @item[:submenu]) %>" >
            <li><a href="/packages/">Distribution Packages</a></li>
            <li><a href="/installing/">Install from tar-file</a></li>
            <li><a href="/openwrt/">OpenWRT installation</a></li>
            <li><a target="_blank"
                     href="/download/latest/">Stable Release</a></li>
            <li><a target="_blank"
                     href="/download/releases/">All Releases</a></li>
            <li><a target="_blank"
                     href="/download/unsigned/master/">Daily Build</a></li>
          </ul>
        </li>
        <li>
          <h2><a href="/source/">Source Code</a> <%= submenu_ind("source", @item[:submenu]) %></h2>
          <ul class="<%= submenu_class("source", @item[:submenu]) %>" >
            <li><a href="/source-install/">Download the source</a></li>
            <li><a target="_blank"
         href="https://github.com/ktsaou/firehol">FireHOL Git</a></li>
            <li><a target="_blank"
         href="https://github.com/philwhineray/firehol-website">Website Git</a></li>
            <li><a target="_blank"
         href="https://github.com/philwhineray/firehol-infrastructure">Infrastructure Git</a></li>
            <li><a target="_blank"
         href="http://www.gnu.org/licenses/gpl-2.0.html">GPLv2+ Licence</a></li>
          </ul>
      </ul>
      <h2>Hosted By</h2>
      <ul>
        <li>
          <a target="_blank"
             href="http://www.foxyhosting.cz/"><img alt="www.foxyhosting.cz"
                                                   src="/foxyhosting.png"></a>
        </li>
      </ul>
    </div>
<script>
// Show menus items only if they are current or the title is clicked
$('#sidebar ul li ul.closedbydefault').hide();
$('#sidebar li h2 a.toggle').click(function() {
  $(this).parent().next().slideToggle("slow");
  if ($(this).text() == "[+]") {
    $(this).text("[-]");
  } else {
    $(this).text("[+]");
  }
});
</script>
  </body>
</html>
