<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= item[:description] ||
      'FireHOL and FireQOS offer simple and powerful configuration
       for all Linux firewall and traffic shaping requirements' %>"/>
    <meta name="keywords" content="<%= item[:keywords] ||
      'firewall, stateful, secure, NAT, masquerade, DMZ,
       traffic control, QOS, quality of service,
       easy, intuitive, simple, powerful, complete, wizard, language,
       free, gpl, open source, linux, ipv4, ipv6' %>"/>
    <meta name="author" content="Phil Whineray, Costa Tsaousis"/>
    <meta name="msapplication-config" content="none"/>

    <link rel="shortcut icon" href="/images/web-shield-multi-size.ico">

    <link rel="apple-touch-icon"
         href="/images/web-shield-72.png">
    <link rel="apple-touch-icon" sizes="72x72"
         href="/images/web-shield-72.png">
    <link rel="apple-touch-icon" sizes="114x114"
         href="/images/web-shield-114.png">

    <link rel="icon" type="image/png" sizes="512x512"
         href="/images/web-shield-512.png">
    <link rel="icon" type="image/png" sizes="256x256"
         href="/images/web-shield-256.png">
    <link rel="icon" type="image/png" sizes="128x128"
         href="/images/web-shield-128.png">
    <link rel="icon" type="image/png" sizes="64x64"
         href="/images/web-shield-64.png">
    <link rel="icon" type="image/png" sizes="48x48"
         href="/images/web-shield-48.png">
    <link rel="icon" type="image/png" sizes="32x32"
         href="/images/web-shield-32.png">
    <link rel="icon" type="image/png" sizes="24x24"
         href="/images/web-shield-24.png">
    <link rel="icon" type="image/png" sizes="16x16"
         href="/images/web-shield-16.png">

    <title>FireHOL - <%= @item[:title] %></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/external/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/firehol.css"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/external/html5shiv-3.7.2.min.js"></script>
      <script src="/external/respond-1.4.2.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FireHOL</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <%= li_active("home",@item[:submenu]) %><a
                  href="/">About</a></li>
            <%= li_active("documentation",@item[:submenu]) %><a
                  href="/documentation/">Documentation</a></li>
            <%= li_active("support",@item[:submenu]) %><a
                  href="/support/">Support</a></li>
            <%= li_active("downloads",@item[:submenu]) %><a
                  href="/installing/">Download</a></li>
            <%= li_active("source",@item[:submenu]) %><a
                  href="/source-install/">Source</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
    <%= yield %>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/external/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/external/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
  </body>
</html>
