/* make room for the nav bar */

body {
    padding-top: 60px;
}

/* make room for the nav bar when choosing links */
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id]{
	padding-top: 60px;
	margin-top: -40px;
}

/* highlight code which has been added compared to the prior example */
.newcode a:link,
.newcode a:visited {
  color: #f30;
}
.newcode a:hover {
  color: #f90;
}

/* highlight external links, except specific ones */
a[href^=http] {
    background: url(/images/external.png) center right no-repeat;
    padding-right: 13px;
}
a[href^="http://www.foxyhosting"]  {
    background: none;
    padding-right: 0;
}
a[href^="http://lists.firehol"]  {
    background: none;
    padding-right: 0;
}

/* space tables better */
td,th {
  padding-right: 8px;
  padding-bottom: 8px;
}
table {
  margin-bottom: 5px;
}

#webhost {
  margin-top: 20px;
  margin-bottom: 20px;
}
