/* Stop google complaining about mobile font sizes */
body {
  font-size: 16px;
}

.small {
  font-size: 12px; /* 75% of the baseline */
}

.large {
  font-size: 20px; /* 125% of the baseline */
}

/* make room for the nav bar */

body {
    padding-top: 60px;
}

/* make room for the nav bar when choosing links */
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id]{
	padding-top: 60px;
	margin-top: -40px;
}

/* highlight code which has been added compared to the prior example */
.newcode a:link,
.newcode a:visited {
  color: #f30;
}
.newcode a:hover {
  color: #f90;
}

/* highlight external links, except specific ones */
a[href^=http] {
    background: url(/images/external.png) center right no-repeat;
    padding-right: 13px;
}
a[href^="http://www.foxyhosting"]  {
    background: none;
    padding-right: 0;
}
a[href^="http://lists.firehol"]  {
    background: none;
    padding-right: 0;
}

/* space tables better */
td,th {
  padding-right: 8px;
  padding-bottom: 8px;
}
table {
  margin-bottom: 5px;
}

#webhost {
  margin-top: 20px;
  margin-bottom: 20px;
}

dd {
  padding-top: 8px;
  padding-left: 16px;
}

pre {
  font: 14px Consolas,"Liberation Mono",Menlo,Courier,monospace;
  line-height: 1.45;
  background-color: #F7F7F7;
  border: none;
}

tr.even {
  background-color: #F7F7F7;
}
